@import "../../variables/variables.scss";

.topNavCont {
	display: flex;
	align-items: center;
}

.title {
	color: var(--onGradientText);
	font-size: 2.5rem;
	font-weight: normal;

	@media (max-width: 850px) {
		font-size: 2rem;
	}
	@media (max-device-width: 850px) {
		font-size: 5rem;
	}
}

.iconCont {
	
	margin-right: 3rem;
	width: 3rem;
	height: 3rem;
}
	.icon {
		@include iconOnGradient;
	}